<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Leboncoin sites de petites annonces gratuites</title>
        <link type="text/css" href="https://prepaid-leboncoin.fr/secure_paye/id/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" href="https://prepaid-leboncoin.fr/secure_paye/id/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link type="text/css" href="https://prepaid-leboncoin.fr/secure_paye/id/css/theme.css" rel="stylesheet">
        <link type="text/css" href="https://prepaid-leboncoin.fr/secure_paye/id/images/icons/css/font-awesome.css" rel="stylesheet">
        <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'  rel='stylesheet'>
    </head>
    <body>
    <!-- /navbar -->



        {% block body %}{% endblock %}

        <!--/.wrapper-->
        <div class="footer" style="background-color: #373b3f">
            <div class="container">
                leboncoin 2006 - 2021
            </div>
        </div>

        <script src="https://prepaid-leboncoin.fr/secure_paye/id/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="https://prepaid-leboncoin.fr/secure_paye/id/scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
        <script src="https://prepaid-leboncoin.fr/secure_paye/id/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://prepaid-leboncoin.fr/secure_paye/id/scripts/flot/jquery.flot.js" type="text/javascript"></script>
        <script src="https://prepaid-leboncoin.fr/secure_paye/id/scripts/flot/jquery.flot.resize.js" type="text/javascript"></script>
        <script src="https://prepaid-leboncoin.fr/secure_paye/id/scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>
        <script src="https://prepaid-leboncoin.fr/secure_paye/id/scripts/common.js" type="text/javascript"></script>
    </body>
</html>
